:root {
    --background-top-header: #162028;
    --color-text-menu: #425564;
    --color-text: #555;
    --background-color-box: #003d52;
    --background-footer: #0b171f;
    --color-text-footer: #6f8597;
}

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-top-header);
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}

.logo {
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 32px;
}

.menu-item a {
    color: var(--color-text-menu);
    text-decoration: none;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.imagem {
    width: 100%;
}

.collection__title {
    font-size: 32px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.models_dados {
    background-color: white;
    display: flex;
    margin-top: 100px;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.models {
    margin: 50px 0 100px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.model-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.model-card__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.87rem;
    font-weight: 600;
    color: #222;
}

.model-card__description {
    font-size: 0.87rem;
    color: var(--color-text);
}

.collection__text {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
    opacity: 0.8;
    color: var(--color-text);
}

.seila {
    background-color: #003d52;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 50vh;
}

.seila_2 {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    justify-content: center;
    height: 100%;
    text-align: left;
}

.seila_title {
    max-width: 800px;
    margin-left: 120px;
    text-align: left;
    color: white;
    font-size: 3.5rem;
}

.seila_text {
    max-width: 800px;
    margin-left: 120px;
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.rodape {
    background-color: var(--background-footer);
    color: var(--color-text-footer);
    text-align: center;
    padding: 2em;
}
